<%- include('header'); -%>
    <main>
      <div>
        <h1><%= listTitle %></h1>

        <div class="todoContainer">
          <ul>

            <!-- For loop to add new (list element) -->
            <% for (let i=0; i<newListItems.length; i++){ %>
              <div>
                <input type="checkbox">
                <p><%= newListItems[i] %></p>
              </div>
            
            <% } %>

          </ul>

          <form action="/" method="post">
            <input type="text" name="newItem" placeholder="Todo" required>
            <button type="submit" name="list" value="<%= listTitle %>">Add</button>
          </form>
        </div>
      </div>
    </main>
<%- include('footer'); -%>
